In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests

In [2]:
# URL of page to be scraped
url = 'https://www.qsrmagazine.com/content/ranking-top-50-fast-food-chains-america'

In [3]:
# Retrieve page with the requests module
response = requests.get(url)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
# Examine the results, then determine element that contains sought info
print(soup.prettify())

<!DOCTYPE html>
<html dir="ltr" lang="en" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
 <head>
  <meta charset="utf-8"/>
  <script type="text/javascript">
   (window.NREUM||(NREUM={})).loader_config={licenseKey:"NRJS-2fca3af1d16ddfeabea",applicationID:"556389158"};window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var i=n[t]={exports:{}};e[t][0].call(i.exports,function(n){var i=e[t][1][n];return r(i||n)},i,i.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var i=0;i<t.length;i++)r(t[i]);return r}({1:[function(e,n,t){function r(){}function i(e,n,t){return function(){return o(e,[u.now()].concat(f(arguments)),n?null:this,t),n?void 0:this}}var o=e("handle"),a=e(4),f=e(5),c=e("ee").get("tracer"),u=e("loader"),s=NREUM;"undefined"==typeof window.newrelic&&(newrelic=s);var p=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],l="api-",d=l+"ixn-";a(p,function(e,n){s[n]=i(l+n,!0,"api")}),s.addPageAction=i(l+"addPageAction",!0),s.setCurrentRouteName=i(l+"routeName",!0),n.exports=newrelic,s.interaction=function(){return(new r).get()};var m=r.prototype={createTracer:function(e,n){var t={},r=this,i="function"==typeof n;return o(d+"tracer",[u.now(),e,t],r),function(){if(c.emit((i?"":"no-")+"fn-start",[u.now(),r,i],t),i)try{return n.apply(this,arguments)}catch(e){throw c.emit("fn-err",[arguments,this,e],t),e}finally{c.emit("fn-end",[u.now()],t)}}}};a("actionText,setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(e,n){m[n]=i(d+n)}),newrelic.noticeError=function(e,n){"string"==typeof e&&(e=new Error(e)),o("err",[e,u.now(),!1,n])}},{}],2:[function(e,n,t){function r(e,n){var t=e.getEntries();t.forEach(function(e){"first-paint"===e.name?c("timing",["fp",Math.floor(e.startTime)]):"first-contentful-paint"===e.name&&c("timing",["fcp",Math.floor(e.startTime)])})}function i(e,n){var t=e.getEntries();t.length>0&&c("lcp",[t[t.length-1]])}function o(e){if(e instanceof s&&!l){var n,t=Math.round(e.timeStamp);n=t>1e12?Date.now()-t:u.now()-t,l=!0,c("timing",["fi",t,{type:e.type,fid:n}])}}if(!("init"in NREUM&&"page_view_timing"in NREUM.init&&"enabled"in NREUM.init.page_view_timing&&NREUM.init.page_view_timing.enabled===!1)){var a,f,c=e("handle"),u=e("loader"),s=NREUM.o.EV;if("PerformanceObserver"in window&&"function"==typeof window.PerformanceObserver){a=new PerformanceObserver(r),f=new PerformanceObserver(i);try{a.observe({entryTypes:["paint"]}),f.observe({entryTypes:["largest-contentful-paint"]})}catch(p){}}if("addEventListener"in document){var l=!1,d=["click","keydown","mousedown","pointerdown","touchstart"];d.forEach(function(e){document.addEventListener(e,o,!1)})}}},{}],3:[function(e,n,t){function r(e,n){if(!i)return!1;if(e!==i)return!1;if(!n)return!0;if(!o)return!1;for(var t=o.split("."),r=n.split("."),a=0;a<r.length;a++)if(r[a]!==t[a])return!1;return!0}var i=null,o=null,a=/Version\/(\S+)\s+Safari/;if(navigator.userAgent){var f=navigator.userAgent,c=f.match(a);c&&f.indexOf("Chrome")===-1&&f.indexOf("Chromium")===-1&&(i="Safari",o=c[1])}n.exports={agent:i,version:o,match:r}},{}],4:[function(e,n,t){function r(e,n){var t=[],r="",o=0;for(r in e)i.call(e,r)&&(t[o]=n(r,e[r]),o+=1);return t}var i=Object.prototype.hasOwnProperty;n.exports=r},{}],5:[function(e,n,t){function r(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,i=t-n||0,o=Array(i<0?0:i);++r<i;)o[r]=e[n+r];return o}n.exports=r},{}],6:[function(e,n,t){n.exports={exists:"undefined"!=typeof window.performance&&window.performance.timing&&"undefined"!=typeof window.performance.timing.navigationStart}},{}],ee:[function(e,n,t){function r(){}function i(e){function n(e){return e&&e instanceof r?e:e?c(e,f,o):o()}function t(t,r,i,o){if(!l.aborted||o){e&&e(t,r,i);for(var a=n(i),f=v(t),c=f.length,u=0;u<c;u++)f[u].apply(a,r);var p=s[y[t]];return p&&p.push([b,t,r,a]),a}}function d(e,n){h[e]=v(e).concat(n)}function m(e,n){var t=h[e];if(t)for(var r=0;r<t.length;r++)t[r]===n&&t.splice(r,1)}function v(e){return h[e]||[]}function g(e){return p[e]=p[e]||i(t)}function w(e,n){u(e,function(e,t){n=n||"feature",y[t]=n,n in s||(s[n]=[])})}var h={},y={},b={on:d,addEventListener:d,removeEventListener:m,emit:t,get:g,listeners:v,context:n,buffer:w,abort:a,aborted:!1};return b}function o(){return new r}function a(){(s.api||s.feature)&&(l.aborted=!0,s=l.backlog={})}var f="nr@context",c=e("gos"),u=e(4),s={},p={},l=n.exports=i();l.backlog=s},{}],gos:[function(e,n,t){function r(e,n,t){if(i.call(e,n))return e[n];var r=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:r,writable:!0,enumerable:!1}),r}catch(o){}return e[n]=r,r}var i=Object.prototype.hasOwnProperty;n.exports=r},{}],handle:[function(e,n,t){function r(e,n,t,r){i.buffer([e],r),i.emit(e,n,t)}var i=e("ee").get("handle");n.exports=r,r.ee=i},{}],id:[function(e,n,t){function r(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:a(e,o,function(){return i++})}var i=1,o="nr@id",a=e("gos");n.exports=r},{}],loader:[function(e,n,t){function r(){if(!x++){var e=E.info=NREUM.info,n=d.getElementsByTagName("script")[0];if(setTimeout(s.abort,3e4),!(e&&e.licenseKey&&e.applicationID&&n))return s.abort();u(y,function(n,t){e[n]||(e[n]=t)}),c("mark",["onload",a()+E.offset],null,"api");var t=d.createElement("script");t.src="https://"+e.agent,n.parentNode.insertBefore(t,n)}}function i(){"complete"===d.readyState&&o()}function o(){c("mark",["domContent",a()+E.offset],null,"api")}function a(){return O.exists&&performance.now?Math.round(performance.now()):(f=Math.max((new Date).getTime(),f))-E.offset}var f=(new Date).getTime(),c=e("handle"),u=e(4),s=e("ee"),p=e(3),l=window,d=l.document,m="addEventListener",v="attachEvent",g=l.XMLHttpRequest,w=g&&g.prototype;NREUM.o={ST:setTimeout,SI:l.setImmediate,CT:clearTimeout,XHR:g,REQ:l.Request,EV:l.Event,PR:l.Promise,MO:l.MutationObserver};var h=""+location,y={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1167.min.js"},b=g&&w&&w[m]&&!/CriOS/.test(navigator.userAgent),E=n.exports={offset:f,now:a,origin:h,features:{},xhrWrappable:b,userAgent:p};e(1),e(2),d[m]?(d[m]("DOMContentLoaded",o,!1),l[m]("load",r,!1)):(d[v]("onreadystatechange",i),l[v]("onload",r)),c("mark",["firstbyte",f],null,"api");var x=0,O=e(6)},{}],"wrap-function":[function(e,n,t){function r(e){return!(e&&e instanceof Function&&e.apply&&!e[a])}var i=e("ee"),o=e(5),a="nr@original",f=Object.prototype.hasOwnProperty,c=!1;n.exports=function(e,n){function t(e,n,t,i){function nrWrapper(){var r,a,f,c;try{a=this,r=o(arguments),f="function"==typeof t?t(r,a):t||{}}catch(u){l([u,"",[r,a,i],f])}s(n+"start",[r,a,i],f);try{return c=e.apply(a,r)}catch(p){throw s(n+"err",[r,a,p],f),p}finally{s(n+"end",[r,a,c],f)}}return r(e)?e:(n||(n=""),nrWrapper[a]=e,p(e,nrWrapper),nrWrapper)}function u(e,n,i,o){i||(i="");var a,f,c,u="-"===i.charAt(0);for(c=0;c<n.length;c++)f=n[c],a=e[f],r(a)||(e[f]=t(a,u?f+i:i,o,f))}function s(t,r,i){if(!c||n){var o=c;c=!0;try{e.emit(t,r,i,n)}catch(a){l([a,t,r,i])}c=o}}function p(e,n){if(Object.defineProperty&&Object.keys)try{var t=Object.keys(e);return t.forEach(function(t){Object.defineProperty(n,t,{get:function(){return e[t]},set:function(n){return e[t]=n,n}})}),n}catch(r){l([r])}for(var i in e)f.call(e,i)&&(n[i]=e[i]);return n}function l(n){try{e.emit("internal-error",n)}catch(t){}}return e||(e=i),t.inPlace=u,t.flag=a,t}},{}]},{},["loader"]);
  </script>
  <script>
   (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create", "UA-99356-2", {"cookieDomain":"auto"});ga("require", "displayfeatures");ga("send", "pageview");
  </script>
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="QSR magazine" property="og:site_name"/>
  <link href="/themes/custom/qsr2020/icons/icon-72x72.png" rel="shortcut icon"/>
  <link href="https://www.qsrmagazine.com/content/ranking-top-50-fast-food-chains-america" rel="canonical"/>
  <meta content="2019 QSR 50Read the ProfilesBrowse the Big ChartSee The ContendersSegment chartsBurgerSn" name="twitter:description"/>
  <meta content="Ranking The Top 50 Fast-Food Chains in America" name="twitter:title"/>
  <meta content="2019 QSR 50Read the ProfilesBrowse the Big ChartSee The ContendersSegment chartsBurgerSn" name="description"/>
  <meta content="@qsrmagazine" name="twitter:site"/>
  <link href="/themes/custom/qsr2020/icons/Q-avatar.svg" rel="mask-icon"/>
  <meta content="17294582" name="twitter:site:id"/>
  <meta content="@qsrmagazine" name="twitter:creator"/>
  <meta content="17294582" name="twitter:creator:id"/>
  <meta content="Drupal 8 (https://www.drupal.org)" name="Generator"/>
  <meta content="width" name="MobileOptimized"/>
  <meta content="true" name="HandheldFriendly"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <script type="text/javascript">
   // Initialize the google variables.
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
// Add a place to store the slot name variable.
googletag.slots = googletag.slots || {};
(function() {
  var useSSL = "https:" == document.location.protocol;
  var src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
  document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
})();
  </script>
  <script type="text/javascript">
   googletag.slots["qsr_halfpagead300x600"] = googletag.defineSlot("/1003961/QSR_HalfPageAd300x600", [300, 600], "js-dfp-tag-qsr_halfpagead300x600")

    .addService(googletag.pubads())




      ;
  </script>
  <script type="text/javascript">
   googletag.slots["qsr_bottom_medium_rectangle300x250"] = googletag.defineSlot("/1003961/QSR_Bottom_Medium_Rectangle300x250", [300, 250], "js-dfp-tag-qsr_bottom_medium_rectangle300x250")

    .addService(googletag.pubads())




      ;
  </script>
  <script type="text/javascript">
   googletag.slots["qsr_top_medium_rectangle300x250"] = googletag.defineSlot("/1003961/QSR_Top_Medium_Rectangle300x250", [300, 250], "js-dfp-tag-qsr_top_medium_rectangle300x250")

    .addService(googletag.pubads())




      ;
  </script>
  <script type="text/javascript">
   googletag.slots["qsr_topofpage_ribbon"] = googletag.defineSlot("/1003961/QSR_TopofPage_Ribbon", [1000, 56], "js-dfp-tag-qsr_topofpage_ribbon")

    .addService(googletag.pubads())




      ;
  </script>
  <script type="text/javascript">
   // Start by defining breakpoints for this ad.
      var mapping = googletag.sizeMapping()
              .addSize([1, 1], [320, 50])
              .addSize([468, 200], [468, 60])
              .addSize([728, 200], [728, 90])
            .build();

  googletag.slots["qsr_stickyfooter"] = googletag.defineSlot("/1003961/QSR_StickyFooter", [[320, 50], [468, 60], [728, 90]], "js-dfp-tag-qsr_stickyfooter")

    .addService(googletag.pubads())

      .set('adsense_ad_types', 'image')



        // Apply size mapping when there are breakpoints.
    .defineSizeMapping(mapping)
    ;
  </script>
  <script type="text/javascript">
   googletag.cmd.push(function() {
      googletag.pubads().enableAsyncRendering();
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
      });
googletag.enableServices();
  </script>
  <link href="https://www.qsrmagazine.com/content/ranking-top-50-fast-food-chains-america" rel="revision"/>
  <title>
   Ranking The Top 50 Fast-Food Chains in America | QSR magazine
  </title>
  <link href="/sites/default/files/css/css_BGKjdWI-v78Vj5SHIQ6tAgpdu8d675Lwse-EPH94rlw.css" media="all" rel="stylesheet"/>
  <link href="/sites/default/files/css/css_CoYrfJcHsTp-toIKLENFFYC-YX68UCjS8bVj0LKtbps.css" media="all" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" media="all" rel="stylesheet"/>
  <!--[if lte IE 8]>
<script src="/sites/default/files/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js"></script>
<![endif]-->
  <script async="" defer="" src="//get.s-onetag.com/0e518fc0-92b5-41e1-bcdb-0baa95e233e2/tag.min.js">
  </script>
 </head>
 <body class="path-node page-node-type-page">
  <a class="visually-hidden focusable skip-link" href="#main-content">
   Skip to main content
  </a>
  <div id="prestitial" style="opacity: 0;">
   <div id="prestitial-overlay">
   </div>
   <div id="prestitial-grid">
    <div class="prestitial-logo">
     <img alt="QSR Magazine Logo" src="/themes/custom/qsr2020/QSR-lg-white.svg" width="200"/>
    </div>
    <div class="close-cta">
     Continue to Site
     <i class="fa fa-arrow-right">
     </i>
    </div>
    <div id="prestitial-banner">
    </div>
   </div>
  </div>
  <div id="body-wrapper" style="opacity: 0;">
   <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
    <div class="layout-container tm_content not-front">
     <header role="banner">
      <!--<header>-->
      <div class="tm_header">
       <!--<tm headerin>-->
       <div class="tm_header_file">
        <div class="tm_header_logo_ads">
         <div class="tm_logo">
          <div class="tm_logo_img">
           <a href="/" rel="home" title="Home">
            <img alt="QSR Logo" class="tm_logoup" src="/themes/custom/qsr2020/QSR-lg-black.svg">
            </img>
           </a>
          </div>
         </div>
         <div class="tm_topads_728">
          <ul>
           <li class="widget tm_ad728x90_widget" id="tmmyid_ad728x90_widget-2">
            <div class="views-element-container block block-views block-views-blockqsr-2020-blocks-block-9" id="block-views-block-qsr-2020-blocks-block-9">
             <div>
              <div class="view view-qsr-2020-blocks view-id-qsr_2020_blocks view-display-id-block_9 js-view-dom-id-30cce83de17ba57dd53e8fcce265a3e3a2d77c90b423cd160be6800bcd9203f5">
               <div class="view-content">
                <div class="tm-bricknews-2-box views-row">
                 <div class="views-field views-field-field-media-image">
                  <div class="field-content header-image">
                   <a href="/exclusives/whos-growing-during-coronavirus-crisis-pizza-chains" hreflang="en">
                    <img alt="Papa John's deliver driver near a car." class="image-style-header3-thumb" height="70" src="/sites/default/files/styles/header3_thumb/public/2020-03/PizzaPapa.jpg?itok=UqBMCdwu" typeof="foaf:Image" width="85"/>
                   </a>
                  </div>
                 </div>
                 <div class="views-field views-field-title">
                  <span class="field-content">
                   <a href="/exclusives/whos-growing-during-coronavirus-crisis-pizza-chains" hreflang="en">
                    Whoâ€™s Growing During the Coronavirus Crisis? Pizza Chains
                   </a>
                  </span>
                 </div>
                </div>
                <div class="tm-bricknews-2-box views-row">
                 <div class="views-field views-field-field-media-image">
                  <div class="field-content header-image">
                   <a href="/exclusives/coronavirus-hope-no-1-restaurants-keep-staff-employed" hreflang="en">
                    <img alt="A restaurant employee washes their hands." class="image-style-header3-thumb" height="70" src="/sites/default/files/styles/header3_thumb/public/2020-03/RestaurantWorker.jpg?itok=mz8pOSo_" typeof="foaf:Image" width="85"/>
                   </a>
                  </div>
                 </div>
                 <div class="views-field views-field-title">
                  <span class="field-content">
                   <a href="/exclusives/coronavirus-hope-no-1-restaurants-keep-staff-employed" hreflang="en">
                    Coronavirus Hope No. 1 for Restaurants: Keep Staff Employed
                   </a>
                  </span>
                 </div>
                </div>
                <div class="tm-bricknews-2-box views-row">
                 <div class="views-field views-field-field-media-image">
                  <div class="field-content header-image">
                   <a href="/exclusives/la-fast-casual-working-stop-hunger" hreflang="en">
                    <img alt="Salmon Adobo Bowl." class="image-style-header3-thumb" height="70" src="/sites/default/files/styles/header3_thumb/public/2020-03/Everytable-Homegirl-Salmon-Adobo-Bowl-edit.jpg?itok=tQ9nEmGT" typeof="foaf:Image" width="85"/>
                   </a>
                  </div>
                 </div>
                 <div class="views-field views-field-title">
                  <span class="field-content">
                   <a href="/exclusives/la-fast-casual-working-stop-hunger" hreflang="en">
                    This LA Fast Casual is Working to Stop Hunger
                   </a>
                  </span>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="block block-dfp block-dfp-ad8d90f355-d80b-4cc4-9ccc-12e403e74d60" id="block-dfptagqsr-stickyfooter">
             <div id="js-dfp-tag-qsr_stickyfooter">
              <script type="text/javascript">
               googletag.cmd.push(function() {
            googletag.display('js-dfp-tag-qsr_stickyfooter');
        });
              </script>
             </div>
            </div>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <!--</tm headerin>-->
      </div>
      <!--<header>-->
      <!--<nav>-->
      <nav class="main-nav" id="navigation">
       <li class="sticky-logo">
        <a href="/">
         <img alt="QSR Logo" border="0" id="menu-logo-image" src="/themes/custom/qsr2020/QSR-lg-black.svg"/>
        </a>
       </li>
       <div class="region region-main-menu">
        <div class="block block-superfish block-superfishheader-menu" id="block-headermenu">
         <ul class="menu sf-menu sf-header-menu sf-horizontal sf-style-none" id="superfish-header-menu">
          <li class="sf-depth-1 sf-no-children" id="header-menu-menu-link-content01db2c55-43fc-43ec-8b0e-5258c9c5e35f">
           <a class="sf-depth-1 menuparent" href="/subscribe">
            Subscribe
           </a>
           <ul>
            <div class="col first">
             <a href="/subscribe">
              <img alt="QSR cover" src="/img-src/current-cover"/>
             </a>
            </div>
            <div class="col second">
             <div class="teaser1">
              <a class="top" href="/subscribe">
               Get
               <i>
                QSR
               </i>
               every month!
              </a>
             </div>
             <div class="teaser2">
              <a href="/subscribe">
               Free to Qualified Restaurant Professionals
              </a>
             </div>
             <div class="teaser1">
              <a href="/renew">
               Renew
              </a>
             </div>
             <div class="teaser1">
              <a href="/renew">
               Update Your Address
              </a>
             </div>
            </div>
            <div class="col third">
             <div>
              <a href="/eletter-sub">
               Subscribe to
               <span>
                E-Letters
               </span>
              </a>
             </div>
             <div class="eletter-item">
              <a href="/eletter-sub">

In [6]:
chart = soup.find(id="block-qsr2020-content")
data_company = [dc.get_text() for dc in chart.select(".sortable-chart-container .data-company")]
data_category = [dct.get_text() for dct in chart.select(".sortable-chart-container .data-category")]
all_sales = [als.get_text() for als in chart.select(".sortable-chart-container .data-2018_us_systemwide_sales_millions")]
avg_sales = [avs.get_text() for avs in chart.select(".sortable-chart-container .data-2018_average_sales_per_unit_thousands")]
franchise_units = [fu.get_text() for fu in chart.select(".sortable-chart-container .data-2018_franchiselicense_units")]
company_units = [cu.get_text() for cu in chart.select(".sortable-chart-container .data-2018_company_units")]
total_units = [tu.get_text() for tu in chart.select(".sortable-chart-container .data-2018_total_units")]

In [7]:
import pandas as pd
restaurants = pd.DataFrame({
    "Company": data_company,
    "Category": data_category,
    "Systemwide_Sales_Millions": all_sales,
    "Avg_Sales_per_Unit_Thousands": avg_sales,
    "Franchise_Units": franchise_units,
    "Company_Units": company_units,
    "Total_Units": total_units
})

In [8]:
restaurants.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units
0,McDonald's,Burger,"38,524.05","2,768.73","13,229",685,"13,914"
1,Starbucks*,Snack,"19,700.00","1,349.32","6,332","8,493","14,825"
2,Subway*,Sandwich,"10,410.34",420.00,"24,798",0,"24,798"
3,Taco Bell,Global,"10,300.00","1,600.00","6,126",462,"6,588"
4,Chick-fil-A*,Chicken,"10,000.00","4,166.67","2,400",0,"2,400"

In [9]:
# transform data by setting the index
transformed_restaurants = restaurants.copy()

In [10]:
transformed_restaurants.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units
0,McDonald's,Burger,"38,524.05","2,768.73","13,229",685,"13,914"
1,Starbucks*,Snack,"19,700.00","1,349.32","6,332","8,493","14,825"
2,Subway*,Sandwich,"10,410.34",420.00,"24,798",0,"24,798"
3,Taco Bell,Global,"10,300.00","1,600.00","6,126",462,"6,588"
4,Chick-fil-A*,Chicken,"10,000.00","4,166.67","2,400",0,"2,400"

In [11]:
transformed_restaurants["Company"].is_unique

True

In [12]:
#transformed_restaurants.set_index("Company", inplace=True)

In [13]:
transformed_restaurants.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units
0,McDonald's,Burger,"38,524.05","2,768.73","13,229",685,"13,914"
1,Starbucks*,Snack,"19,700.00","1,349.32","6,332","8,493","14,825"
2,Subway*,Sandwich,"10,410.34",420.00,"24,798",0,"24,798"
3,Taco Bell,Global,"10,300.00","1,600.00","6,126",462,"6,588"
4,Chick-fil-A*,Chicken,"10,000.00","4,166.67","2,400",0,"2,400"

In [14]:
transformed_restaurants = transformed_restaurants.assign(id=(transformed_restaurants['Company']).astype('category').cat.codes)
# transformed_restaurants

In [15]:
transformed_restaurants.get_dtype_counts()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

object    7
int8      1
dtype: int64

In [16]:
transformed_restaurants.loc["McDonald's" : , "Systemwide_Sales_Millions"]

Series([], Name: Systemwide_Sales_Millions, dtype: object)

In [17]:
extr = transformed_restaurants["Systemwide_Sales_Millions"]
type(extr) is tuple

False

In [18]:
transformed_restaurants["Company"] = transformed_restaurants["Company"].str.strip()
transformed_restaurants["Category"] = transformed_restaurants["Category"].str.strip()
transformed_restaurants["Systemwide_Sales_Millions"] = transformed_restaurants["Systemwide_Sales_Millions"].str.strip()
transformed_restaurants["Avg_Sales_per_Unit_Thousands"] = transformed_restaurants["Avg_Sales_per_Unit_Thousands"].str.strip()
transformed_restaurants["Franchise_Units"] = transformed_restaurants["Franchise_Units"].str.strip()
transformed_restaurants["Company_Units"] = transformed_restaurants["Company_Units"].str.strip()
transformed_restaurants["Total_Units"] = transformed_restaurants["Total_Units"].str.strip()
transformed_restaurants.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,Burger,"38,524.05","2,768.73","13,229",685,"13,914",29
1,Starbucks*,Snack,"19,700.00","1,349.32","6,332","8,493","14,825",40
2,Subway*,Sandwich,"10,410.34",420.00,"24,798",0,"24,798",42
3,Taco Bell,Global,"10,300.00","1,600.00","6,126",462,"6,588",43
4,Chick-fil-A*,Chicken,"10,000.00","4,166.67","2,400",0,"2,400",8

In [19]:
transformed_restaurants["Systemwide_Sales_Millions"] = transformed_restaurants["Systemwide_Sales_Millions"].str.replace(',','').astype(float)
transformed_restaurants["Avg_Sales_per_Unit_Thousands"] = transformed_restaurants["Avg_Sales_per_Unit_Thousands"].str.replace(',','').astype(float)
transformed_restaurants["Franchise_Units"] = transformed_restaurants["Franchise_Units"].str.replace(',','').astype(float)
transformed_restaurants["Company_Units"] = transformed_restaurants["Company_Units"].str.replace(',','').astype(float)
transformed_restaurants["Total_Units"] = transformed_restaurants["Total_Units"].str.replace(',','').astype(float)

# transformed_restaurants["Systemwide_Sales_Millions"]

In [20]:
transformed_restaurants = transformed_restaurants.infer_objects()
transformed_restaurants.dtypes

Company                          object
Category                         object
Systemwide_Sales_Millions       float64
Avg_Sales_per_Unit_Thousands    float64
Franchise_Units                 float64
Company_Units                   float64
Total_Units                     float64
id                                 int8
dtype: object

In [21]:
import sqlite3

In [22]:
conn = sqlite3.connect('restaurants.sqlite')
c = conn.cursor()

In [23]:
c.execute('CREATE TABLE rest_table (Company text, Category text, Systemwide_Sales_Millions number, Avg_Sales_per_Unit_Thousands number, Franchise_Units number, Company_Units number, Total_Units number, [id] number PRIMARY KEY)')
conn.commit()

In [24]:
transformed_restaurants.to_sql('rest_table', conn, if_exists='replace', index=False)

In [25]:
c.execute('''  
SELECT * FROM rest_table
          ''')

In [26]:
for row in c.fetchall():
    print (row)

("McDonald's", 'Burger', 38524.05, 2768.73, 13229.0, 685.0, 13914.0, 29)
('Starbucks*', 'Snack', 19700.0, 1349.32, 6332.0, 8493.0, 14825.0, 40)
('Subway*', 'Sandwich', 10410.34, 420.0, 24798.0, 0.0, 24798.0, 42)
('Taco Bell', 'Global', 10300.0, 1600.0, 6126.0, 462.0, 6588.0, 43)
('Chick-fil-A*', 'Chicken', 10000.0, 4166.67, 2400.0, 0.0, 2400.0, 8)
("Wendy's", 'Burger', 9993.7, 1636.4, 5825.0, 353.0, 6711.0, 45)
('Burger King*', 'Burger', 9950.0, 1357.0, 7278.0, 49.0, 7327.0, 5)
("Dunkin'", 'Snack', 8787.0, 933.0, 9419.0, 0.0, 9419.0, 15)
("Domino's*", 'Pizza', 6600.0, 1123.0, 5486.0, 390.0, 5876.0, 14)
('Panera Bread*', 'Sandwich', 5734.63, 2739.91, 1131.0, 963.0, 2093.0, 32)
('Pizza Hut', 'Pizza', 5500.0, 878.0, 7432.0, 24.0, 7456.0, 35)
('Chipotle', 'Global', 4800.0, 2000.0, 0.0, 2491.0, 2491.0, 9)
('Sonic Drive-In', 'Burger', 4447.1, 1250.0, 3427.0, 179.0, 3606.0, 39)
('KFC', 'Chicken', 4400.0, 1210.0, 4019.0, 55.0, 4074.0, 25)
("Arby's", 'Sandwich', 3886.9, 1177.0, 2197.0, 1132.0, 3329.0, 0)
('Little Caesars*', 'Pizza', 3800.0, 874.0, 3700.0, 562.0, 4262.0, 26)
('Dairy Queen', 'Snack', 3650.0, 1204.58, 4404.0, 2.0, 4406.0, 12)
('Jack in the Box', 'Burger', 3466.13, 1553.0, 2100.0, 137.0, 2237.0, 21)
('Panda Express*', 'Global', 3400.0, 1616.0, 125.0, 1979.0, 2104.0, 31)
('Popeyes*', 'Chicken', 3325.0, 1415.0, 2327.0, 41.0, 2368.0, 36)
("Papa John's*", 'Pizza', 2720.0, 815.0, 2691.0, 646.0, 3337.0, 33)
('Whataburger', 'Burger', 2416.0, 2928.5, 126.0, 699.0, 825.0, 46)
("Jimmy John's*", 'Sandwich', 2200.0, 772.0, 2748.0, 55.0, 2803.0, 24)
("Hardee's*", 'Burger', 2120.0, 1131.0, 1745.0, 119.0, 1864.0, 19)
("Zaxby's*", 'Chicken', 1850.0, 2060.0, 757.0, 141.0, 898.0, 49)
('Five Guys', 'Burger', 1615.84, 1274.8, 866.0, 492.0, 1358.0, 18)
("Culver's", 'Burger', 1580.0, 2390.0, 680.0, 6.0, 686.0, 11)
("Carl's Jr.*", 'Burger', 1425.0, 1239.0, 1106.0, 50.0, 1156.0, 6)
("Bojangles'", 'Chicken', 1296.21, 1741.06, 440.0, 319.0, 759.0, 3)
('Wingstop', 'Chicken', 1261.03, 1139.0, 1095.0, 29.0, 1252.0, 48)
("Raising Cane's*", 'Chicken', 1185.0, 2963.0, 70.0, 330.0, 400.0, 38)
("Jersey Mike's*", 'Sandwich', 1148.49, 769.0, 1412.0, 82.0, 1494.0, 23)
("Steak 'n' Shake*", 'Burger', 1035.0, 1739.0, 185.0, 409.0, 594.0, 41)
('In-N-Out Burger*', 'Burger', 950.0, 2794.0, 0.0, 338.0, 338.0, 20)
('El Pollo Loco*', 'Chicken', 870.0, 1798.0, 271.0, 213.0, 484.0, 16)
('Qdoba', 'Global', 835.0, 1132.0, 354.0, 389.0, 743.0, 37)
("Checkers/Rally's", 'Burger', 824.64, 972.42, 628.0, 254.0, 882.0, 7)
('Del Taco', 'Global', 817.77, 1508.29, 258.0, 322.0, 580.0, 13)
('Firehouse Subs', 'Sandwich', 810.95, 711.66, 1078.0, 37.0, 1115.0, 17)
("Papa Murphy's", 'Pizza', 795.58, 568.0, 1331.0, 106.0, 1437.0, 34)
('Tim Hortons*', 'Sandwich', 760.0, 1027.0, 727.0, 0.0, 727.0, 44)
("Church's Chicken*", 'Chicken', 750.0, 714.0, 811.0, 165.0, 1086.0, 10)
("Moe's", 'Global', 734.56, 1021.64, 714.0, 5.0, 719.0, 30)
("McAlister's Deli", 'Sandwich', 678.12, 1633.51, 415.0, 29.0, 444.0, 28)
("Jason's Deli", 'Sandwich', 654.32, 2520.0, 105.0, 173.0, 278.0, 22)
("Marco's Pizza", 'Pizza', 621.77, 721.99, 844.0, 39.0, 883.0, 27)
('Baskin-Robbins', 'Snack', 612.0, 240.0, 2550.0, 0.0, 2550.0, 2)
("Auntie Anne's", 'Snack', 558.24, 538.18, 1282.0, 13.0, 1295.0, 1)
('Boston Market', 'Chicken', 557.77, 1259.0, 19.0, 435.0, 454.0, 4)
('White Castle*', 'Burger', 555.0, 1480.0, 3.0, 372.0, 375.0, 47)

In [27]:
# def trim_all_columns(df):
#     """
#     Trim whitespace from ends of each value across all series in dataframe
#     """
#     trim_strings = lambda x: x.strip() if isinstance(x, str) else x
#     return df.applymap(trim_strings)


# # simple example of trimming whitespace from data elements
# transformed_restaurants = trim_all_columns(transformed_restaurants)
# print(transformed_restaurants)

In [28]:
transformed_restaurants.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,Burger,38524.05,2768.73,13229.0,685.0,13914.0,29
1,Starbucks*,Snack,19700.00,1349.32,6332.0,8493.0,14825.0,40
2,Subway*,Sandwich,10410.34,420.00,24798.0,0.0,24798.0,42
3,Taco Bell,Global,10300.00,1600.00,6126.0,462.0,6588.0,43
4,Chick-fil-A*,Chicken,10000.00,4166.67,2400.0,0.0,2400.0,8

In [29]:
# Creating dataframe that shows only Burger Category 
burgers = transformed_restaurants.loc[transformed_restaurants["Category"]=="Burger",]
top_burgers = burgers.iloc[:3]
top_burgers

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,Burger,38524.05,2768.73,13229.0,685.0,13914.0,29
5,Wendy's,Burger,9993.70,1636.40,5825.0,353.0,6711.0,45
6,Burger King*,Burger,9950.00,1357.00,7278.0,49.0,7327.0,5

In [30]:
# Creating dataframe that shows only Chicken Category 
chicken = transformed_restaurants.loc[transformed_restaurants["Category"]=="Chicken",]
top_chicken = chicken.iloc[:3]
top_chicken

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
4,Chick-fil-A*,Chicken,10000.0,4166.67,2400.0,0.0,2400.0,8
13,KFC,Chicken,4400.0,1210.00,4019.0,55.0,4074.0,25
19,Popeyes*,Chicken,3325.0,1415.00,2327.0,41.0,2368.0,36

In [31]:
# Creating dataframe that shows only Sandwich Category 
Sandwich = transformed_restaurants.loc[transformed_restaurants["Category"]=="Sandwich",]
top_Sandwich = Sandwich.iloc[:3]
top_Sandwich

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
2,Subway*,Sandwich,10410.34,420.00,24798.0,0.0,24798.0,42
9,Panera Bread*,Sandwich,5734.63,2739.91,1131.0,963.0,2093.0,32
14,Arby's,Sandwich,3886.90,1177.00,2197.0,1132.0,3329.0,0

In [32]:
# Creating dataframe that shows only Sandwich Category 
Pizza = transformed_restaurants.loc[transformed_restaurants["Category"]=="Pizza",]
top_Pizza = Pizza.iloc[:3]
top_Pizza

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
8,Domino's*,Pizza,6600.0,1123.0,5486.0,390.0,5876.0,14
10,Pizza Hut,Pizza,5500.0,878.0,7432.0,24.0,7456.0,35
15,Little Caesars*,Pizza,3800.0,874.0,3700.0,562.0,4262.0,26

In [33]:
# Creating dataframe that shows only Sandwich Category 
Snack = transformed_restaurants.loc[transformed_restaurants["Category"]=="Snack",]
top_Snack = Snack.iloc[:3]
top_Snack

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
1,Starbucks*,Snack,19700.0,1349.32,6332.0,8493.0,14825.0,40
7,Dunkin',Snack,8787.0,933.00,9419.0,0.0,9419.0,15
16,Dairy Queen,Snack,3650.0,1204.58,4404.0,2.0,4406.0,12

In [34]:
# Creating dataframe that shows only Global Category 
Global = transformed_restaurants.loc[transformed_restaurants["Category"]=="Global",]
top_Global = Global.iloc[:3]
# top_Global

In [35]:
total_by_category = transformed_restaurants.groupby(["Category"])[["Systemwide_Sales_Millions"]].sum()
total_by_category = total_by_category.reset_index()
total_by_category

   Category  Systemwide_Sales_Millions
0    Burger                   78902.46
1   Chicken                   25495.01
2    Global                   20887.33
3     Pizza                   20037.35
4  Sandwich                   26283.75
5     Snack                   33307.24

In [36]:
merged_top_df = pd.concat([top_burgers, top_chicken, top_Sandwich, top_Pizza, top_Global, top_Snack])
merged_top_df

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,Burger,38524.05,2768.73,13229.0,685.0,13914.0,29
5,Wendy's,Burger,9993.70,1636.40,5825.0,353.0,6711.0,45
6,Burger King*,Burger,9950.00,1357.00,7278.0,49.0,7327.0,5
4,Chick-fil-A*,Chicken,10000.00,4166.67,2400.0,0.0,2400.0,8
13,KFC,Chicken,4400.00,1210.00,4019.0,55.0,4074.0,25
19,Popeyes*,Chicken,3325.00,1415.00,2327.0,41.0,2368.0,36
2,Subway*,Sandwich,10410.34,420.00,24798.0,0.0,24798.0,42
9,Panera Bread*,Sandwich,5734.63,2739.91,1131.0,963.0,2093.0,32
14,Arby's,Sandwich,3886.90,1177.00,2197.0,1132.0,3329.0,0
8,Domino's*,Pizza,6600.00,1123.00,5486.0,390.0,5876.0,14
10,Pizza Hut,Pizza,5500.00,878.00,7432.0,24.0,7456.0,35
15,Little Caesars*,Pizza,3800.00,874.00,3700.0,562.0,4262.0,26
3,Taco Bell,Global,10300.00,1600.00,6126.0,462.0,6588.0,43
11,Chipotle,Global,4800.00,2000.00,0.0,2491.0,2491.0,9
18,Panda Express*,Global,3400.00,1616.00,125.0,1979.0,2104.0,31
1,Starbucks*,Snack,19700.00,1349.32,6332.0,8493.0,14825.0,40
7,Dunkin',Snack,8787.00,933.00,9419.0,0.0,9419.0,15
16,Dairy Queen,Snack,3650.00,1204.58,4404.0,2.0,4406.0,12

In [37]:
# Selecting the top company for each category
top_rest_per_category = merged_top_df.loc[(merged_top_df["Company"] == "McDonald's") | (merged_top_df["Company"] == "Chick-fil-A*") | (merged_top_df["Company"] == "Subway*") | (merged_top_df["Company"] == "Domino's*") | (merged_top_df["Company"] == "Taco Bell") | (merged_top_df["Company"] == "Starbucks*")]
top_rest_per_category

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,Burger,38524.05,2768.73,13229.0,685.0,13914.0,29
4,Chick-fil-A*,Chicken,10000.00,4166.67,2400.0,0.0,2400.0,8
2,Subway*,Sandwich,10410.34,420.00,24798.0,0.0,24798.0,42
8,Domino's*,Pizza,6600.00,1123.00,5486.0,390.0,5876.0,14
3,Taco Bell,Global,10300.00,1600.00,6126.0,462.0,6588.0,43
1,Starbucks*,Snack,19700.00,1349.32,6332.0,8493.0,14825.0,40

In [38]:
c.execute('''CREATE TABLE top_rest ([Company] text, [Category] text, [Systemwide_Sales_Millions] number, [Avg_Sales_per_Unit_Thousands] number, [Franchise_Units] number, [Company_Units] number, [Total_Units] number, [id] INTEGER PRIMARY KEY)''')
conn.commit()

In [39]:
merged_top_df.to_sql('top_rest', conn, if_exists='replace', index=False)

In [40]:
c.execute('''  
SELECT * FROM top_rest
          ''')

In [41]:
for row in c.fetchall():
    print (row)

("McDonald's", 'Burger', 38524.05, 2768.73, 13229.0, 685.0, 13914.0, 29)
("Wendy's", 'Burger', 9993.7, 1636.4, 5825.0, 353.0, 6711.0, 45)
('Burger King*', 'Burger', 9950.0, 1357.0, 7278.0, 49.0, 7327.0, 5)
('Chick-fil-A*', 'Chicken', 10000.0, 4166.67, 2400.0, 0.0, 2400.0, 8)
('KFC', 'Chicken', 4400.0, 1210.0, 4019.0, 55.0, 4074.0, 25)
('Popeyes*', 'Chicken', 3325.0, 1415.0, 2327.0, 41.0, 2368.0, 36)
('Subway*', 'Sandwich', 10410.34, 420.0, 24798.0, 0.0, 24798.0, 42)
('Panera Bread*', 'Sandwich', 5734.63, 2739.91, 1131.0, 963.0, 2093.0, 32)
("Arby's", 'Sandwich', 3886.9, 1177.0, 2197.0, 1132.0, 3329.0, 0)
("Domino's*", 'Pizza', 6600.0, 1123.0, 5486.0, 390.0, 5876.0, 14)
('Pizza Hut', 'Pizza', 5500.0, 878.0, 7432.0, 24.0, 7456.0, 35)
('Little Caesars*', 'Pizza', 3800.0, 874.0, 3700.0, 562.0, 4262.0, 26)
('Taco Bell', 'Global', 10300.0, 1600.0, 6126.0, 462.0, 6588.0, 43)
('Chipotle', 'Global', 4800.0, 2000.0, 0.0, 2491.0, 2491.0, 9)
('Panda Express*', 'Global', 3400.0, 1616.0, 125.0, 1979.0, 2104.0, 31)
('Starbucks*', 'Snack', 19700.0, 1349.32, 6332.0, 8493.0, 14825.0, 40)
("Dunkin'", 'Snack', 8787.0, 933.0, 9419.0, 0.0, 9419.0, 15)
('Dairy Queen', 'Snack', 3650.0, 1204.58, 4404.0, 2.0, 4406.0, 12)

In [42]:
c.execute('CREATE TABLE total_by_category (Company text, Category text, Systemwide_Sales_Millions number, Avg_Sales_per_Unit_Thousands number, Franchise_Units number, Company_Units number, Total_Units number, [id] number PRIMARY KEY)')
conn.commit()

In [43]:
total_by_category.to_sql('total_by_category', conn, if_exists='replace', index=False)

In [44]:
c.execute('''  
SELECT * FROM total_by_category
          ''')

In [45]:
for row in c.fetchall():
    print (row)

('Burger', 78902.45999999999)
('Chicken', 25495.01)
('Global', 20887.33)
('Pizza', 20037.350000000002)
('Sandwich', 26283.750000000004)
('Snack', 33307.24)

In [46]:
c.execute('CREATE TABLE top_rest_per_category (Company text, Category text, Systemwide_Sales_Millions number, Avg_Sales_per_Unit_Thousands number, Franchise_Units number, Company_Units number, Total_Units number, [id] number PRIMARY KEY)')
conn.commit()

In [47]:
top_rest_per_category.to_sql('top_rest_per_category', conn, if_exists='replace', index=False)

In [48]:
c.execute('''  
SELECT * FROM top_rest_per_category
          ''')

In [49]:
for row in c.fetchall():
    print (row)

("McDonald's", 'Burger', 38524.05, 2768.73, 13229.0, 685.0, 13914.0, 29)
('Chick-fil-A*', 'Chicken', 10000.0, 4166.67, 2400.0, 0.0, 2400.0, 8)
('Subway*', 'Sandwich', 10410.34, 420.0, 24798.0, 0.0, 24798.0, 42)
("Domino's*", 'Pizza', 6600.0, 1123.0, 5486.0, 390.0, 5876.0, 14)
('Taco Bell', 'Global', 10300.0, 1600.0, 6126.0, 462.0, 6588.0, 43)
('Starbucks*', 'Snack', 19700.0, 1349.32, 6332.0, 8493.0, 14825.0, 40)