In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests

In [2]:
# URL of page to be scraped
url = 'https://www.qsrmagazine.com/reports/qsr50-2013-top-50-chart'

In [3]:
# Retrieve page with the requests module
response = requests.get(url)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
# Examine the results, then determine element that contains sought info
print(soup.prettify())

               Fast Food
               </a>
              </a>
             </h2>
             <div class="category-card__primary-image">
              <a href="/fast-food/mcdonalds-check-employees-health-work">
               <img alt="The exterior of a McDonald's restaurant." src="https://www.qsrmagazine.com/sites/default/files/styles/media_thumbnail/public/story/mcdonalds-becomes-100-billion-company.jpg?itok=Tgew6Ytx"/>
              </a>
             </div>
             <div class="category-card__primary-title">
              <a href="/fast-food/mcdonalds-check-employees-health-work" hreflang="en">
               McDonald’s to Check Employees’ Health Before Work
              </a>
             </div>
             <div class="category-card__other-title category-card__other-title-1">
              <a href="/legal/restaurants-theres-big-problem-stimulus-package" hreflang="en">
               For Restaurants, there’s a Big Problem with the Stimulus Package
              </a>
             </div>
             <div class="category-card__other-title category-card__other-title-2">
              <a href="/fast-food/dominos-reports-positive-sales-during-pandemic" hreflang="en">
               Domino’s Reports Positive Sales During Pandemic
              </a>
             </div>
            </section>
           </div>
           <div class="category-card" id="category-card-14">
            <section>
             <h2 class="section-heading">
              <a href="/franchising/communication-key-cousins-ceo-time-crisis">
               <a href="/franchising" hreflang="en">
                Franchising
               </a>
              </a>
             </h2>
             <div class="category-card__primary-image">
              <a href="/franchising/communication-key-cousins-ceo-time-crisis">
               <img alt="Cousins Subs' CEO Christine Specht." src="https://www.qsrmagazine.com/sites/default/files/styles/media_thumbnail/public/2020-03/Christine.jpg?itok=tMQWtxZH"/>
              </a>
             </div>
             <div class="category-card__primary-title">
              <a href="/franchising/communication-key-cousins-ceo-time-crisis" hreflang="en">
               Communication Key to Cousins CEO in Time of Crisis
              </a>
             </div>
             <div class="category-card__other-title category-card__other-title-1">
              <a href="/outside-insights/covid-19-considerations-restaurant-franchise-systems" hreflang="en">
               COVID-19 Considerations for Restaurant Franchise Systems
              </a>
             </div>
             <div class="category-card__other-title category-card__other-title-2">
              <a href="/franchising/subway-slash-franchise-royalty-payments-50-percent" hreflang="en">
               Subway to Slash Franchise Royalty Payments by 50 Percent
              </a>
             </div>
            </section>
           </div>
           <div class="category-card" id="category-card-15">
            <section>
             <h2 class="section-heading">
              <a href="/exclusives/heres-how-your-brand-should-prepare-covid-19">
               <a href="/health-wellness" hreflang="en">
                Health &amp; Wellness
               </a>
              </a>
             </h2>
             <div class="category-card__primary-image">
              <a href="/exclusives/heres-how-your-brand-should-prepare-covid-19">
               <img alt="Red ceramic teacup in an empty cafe." src="https://www.qsrmagazine.com/sites/default/files/styles/media_thumbnail/public/2020-03/Cup.jpg?itok=bw_qxPmY"/>
              </a>
             </div>
             <div class="category-card__primary-title">
              <a href="/exclusives/heres-how-your-brand-should-prepare-covid-19" hreflang="en">
               Here’s How Your Brand Should Prepare for COVID-19
              </a>
             </div>
             <div class="category-card__other-title category-card__other-title-1">
              <a href="/fast-casual/sweetgreens-next-big-investment" hreflang="und">
               Sweetgreen’s Next Big Investment
              </a>
             </div>
             <div class="category-card__other-title category-card__other-title-2">
              <a href="/menu-innovations/seafood-rides-flexitarian-wave-fast-food" hreflang="und">
               Seafood Rides the Flexitarian Wave in Fast Food
              </a>
             </div>
            </section>
           </div>
          </div>
         </div>
        </div>
       </ul>
      </div>
     </div>
     <footer role="contentinfo">
      <div class="clear">
      </div>
      <!--<footer>-->
      <div class="tm_footer">
       <div class="footerin override-background-color">
        <div id="footer">
         <div class="container">
          <div class="logos">
           <div class="qsr-logo">
            <img class="qsr_logo" src="/themes/custom/qsr2020/QSR-lg-white.svg"/>
           </div>
           <div class="social-logos">
            <a class="social-link" href="https://www.facebook.com/QSRmagazine" target="_blank">
             <i class="fab fa-facebook-f social-icon">
             </i>
            </a>
            <a class="social-link" href="https://twitter.com/QSRmagazine" target="_blank">
             <i class="fab fa-twitter social-icon">
             </i>
            </a>
            <a class="social-link" href="https://www.linkedin.com/company/11125625/" target="_blank">
             <i class="fab fa-linkedin-in social-icon">
             </i>
            </a>
            <a class="social-link" href="https://www.instagram.com/qsrmagazine/?hl=en" target="_blank">
             <i class="fab fa-instagram social-icon">
             </i>
            </a>
           </div>
          </div>
          <div class="terms">
           <div class="region region-footer">
            <div class="col">
             <a href="/subscribe">
              <img alt="QSR cover" src="/img-src/current-cover"/>
             </a>
            </div>
            <nav aria-labelledby="block-subscribefootermenu-menu" class="block block-menu navigation menu--subscribe-footer-menu" id="block-subscribefootermenu" role="navigation">
             <h2 id="block-subscribefootermenu-menu">
              Subscribe To QSR
             </h2>
             <ul class="menu">
              <li class="menu-item">
               <a href="/subscribe">
                Magazine
               </a>
              </li>
              <li class="menu-item">
               <a href="/renew">
                Renew
               </a>
              </li>
              <li class="menu-item">
               <a href="/renew">
                Update Your Address
               </a>
              </li>
              <li class="menu-item">
               <a href="/eletter-sub">
                E-Letters
               </a>
              </li>
              <li class="menu-item">
               <a href="https://www.foodnewsmedia.com/media-kit/qsr">
                Advertise
               </a>
              </li>
             </ul>
            </nav>
            <nav aria-labelledby="block-foodfootermenu-menu" class="block block-menu navigation menu--food-footer-menu" id="block-foodfootermenu" role="navigation">
             <h2 id="block-foodfootermenu-menu">
              Food
             </h2>
             <ul class="menu">
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525191" href="/beverage">
                Beverage
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525196" href="/breakfast">
                Breakfast
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525201" href="/burgers">
                Burgers
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525206" href="/desserts">
                Desserts
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/526511" href="/health-wellness">
                Health &amp; Wellness
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525171" href="/marc-halperin-resident-fb-expert">
                Marc Halperin: Resident F&amp;B Expert
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525166" href="/menu-innovations">
                Menu Innovations
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525211" href="/pizza">
                Pizza
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525216" href="/sandwiches">
                Sandwiches
               </a>
              </li>
             </ul>
            </nav>
            <nav aria-labelledby="block-operationsfootermenu-menu" class="block block-menu navigation menu--operations-footer-menu" id="block-operationsfootermenu" role="navigation">
             <h2 id="block-operationsfootermenu-menu">
              Operations
             </h2>
             <ul class="menu">
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525331" href="/back-house">
                Back of House
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525291" href="/business-advice">
                Business Advice
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525311" href="/charitable-giving">
                Charitable Giving
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525416" href="/customer-experience">
                Customer Experience
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525246" href="/design">
                Design
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525336" href="/drive-thru">
                Drive Thru
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525326" href="/employee-management">
                Employee Management
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525341" href="/legal">
                Legal
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525286" href="/ordering">
                Ordering
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525316" href="/outside-insights">
                Outside Insights
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525301" href="/restaurant-operations">
                Restaurant Operations
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525296" href="/start-finish-what-inspires-execs">
                Start to Finish: What Inspires Execs
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525261" href="/sustainability">
                Sustainability
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/526506" href="/technology">
                Technology
               </a>
              </li>
             </ul>
            </nav>
            <nav aria-labelledby="block-growthfootermenu-menu" class="block block-menu navigation menu--growth-footer-menu" id="block-growthfootermenu" role="navigation">
             <h2 id="block-growthfootermenu-menu">
              Growth
             </h2>
             <ul class="menu">
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525306" href="/consumer-trends">
                Consumer Trends
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525241" href="/emerging-concepts">
                Emerging Concepts
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525236" href="/fast-casual">
                Fast Casual
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525251" href="/finance">
                Finance
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525226" href="/franchising">
                Franchising
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="taxonomy/term/525256" href="/marketing-promotions">
                Marketing &amp; Promotions
               </a>
              </li>
             </ul>
            </nav>
            <nav aria-labelledby="block-reportsfootermenu-menu" class="block block-menu navigation menu--reports-footer-menu" id="block-reportsfootermenu" role="navigation">
             <h2 id="block-reportsfootermenu-menu">
              Reports
             </h2>
             <ul class="menu">
              <li class="menu-item">
               <a href="/reports/2019-qsr-50">
                QSR 50
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="node/147650" href="/reports/2019-qsr-drive-thru-study">
                Drive-Thru Study
               </a>
              </li>
              <li class="menu-item">
               <a href="/growth/2018-growth-40">
                Growth 40
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="node/145321" href="/reports/4040-list-1">
                40/40 List
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="node/146824" href="/content/9-best-franchise-deals-2019">
                Best Franchise Deals
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="downloads" href="/downloads">
                Smart Chain
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="node/13409" href="/content/franchise-expo">
                Franchise Opportunities
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="onesource" href="/onesource">
                Find a Supplier
               </a>
              </li>
             </ul>
            </nav>
            <nav aria-labelledby="block-eventsfootermenu-menu" class="block block-menu navigation menu--events-footer-menu" id="block-eventsfootermenu" role="navigation">
             <h2 id="block-eventsfootermenu-menu">
              Events
             </h2>
             <ul class="menu">
              <li class="menu-item">
               <a href="/webinars">
                Webinars
               </a>
              </li>
              <li class="menu-item">
               <a data-drupal-link-system-path="node/148467" href="/meet-ups">
                Fast Casual Meet Ups
               </a>
              </li>
             </ul>
            </nav>
           </div>
          </div>
          <div class="copyright">
           Copyright © 2020 Journalistic, Inc. All rights reserved.
           <i>
            QSR
           </i>
           is a registered trademark of Journalistic, Inc. Please read our
           <a href="/privacy-policy">
            privacy policy
           </a>
           before submitting data on this web site. Submission of data is acknowledgement of acceptance of our
           <a href="/privacy-policy">
            privacy policy.
           </a>
           Some aspects of this site are protected by reCAPTCHA and the Google
           <a href="https://policies.google.com/privacy" rel="nofollow" target="_blank">
            Privacy Policy
           </a>
           and
           <a href="https://policies.google.com/terms" rel="nofollow" target="_blank">
            Terms of Service
           </a>
           apply.
          </div>
         </div>
        </div>
       </div>
      </div>
      <!--</footer>-->
      <!-- <div class="style-picker">
  <div class="container bgChanger"><a href="#" class="handler" title="Live Styles Customizer">&nbsp;</a>
    <div class="options clearfix">

      <div class="cl"><a href="#" class="bgColor">Color Scheme<span id="bgHeaderColor" title="ff8100" style="background-color:#ff8100">&nbsp;</span></a></div>

    </div>
  </div>
</div> -->
     </footer>
    </div>
   </div>
  </div>
  <script data-drupal-selector="drupal-settings-json" type="application/json">
   {"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/64111","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"google_analytics":{"trackOutbound":true,"trackMailto":true,"trackDownload":true,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip"},"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true},"statistics":{"data":{"nid":"64111"},"url":"\/core\/modules\/statistics\/statistics.php"},"superfish":{"superfish-header-menu":{"id":"superfish-header-menu","sf":{"animation":{"opacity":"show","height":"show"},"speed":"fast"},"plugins":{"smallscreen":{"mode":"window_width","title":"Header Menu"},"supposition":true,"supersubs":true}}},"webfonts":{"is_active":false},"ad_control_panel":{"exclusivity":0,"priority":"interstitial","session_limit":1,"prestitial_excluded":false},"user":{"uid":0,"permissionsHash":"00c9088bb1ccc88c05e0fdfb5d1629bdc7524173d76ae4ee5af303779cccb0c4"}}
  </script>
  <script src="/sites/default/files/js/js_b1EJzB5EI4fZhJP34vavSmsZvG3FJ6T65iHeY1O6KMk.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js">
  </script>
  <script src="/sites/default/files/js/js_QXgaUpV1MIstrRB6AhOEP-43qBpIucrQkhu1XwRzXiY.js">
  </script>
  <script type="text/javascript">
   window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"NRJS-2fca3af1d16ddfeabea","applicationID":"556389158","transactionName":"Zl0HYkFWWxVVV0AMW18XJFVHXloIG3BGEERQVDl1XEVQOnJbRghod1cXW3FCXApQUUZICkNdC1JWRWUKVVdRDVtdXABEdVhHC3VXQAxbXw==","queueTime":0,"applicationTime":836,"atts":"ShoEFAlMSBs=","errorBeacon":"bam.nr-data.net","agent":""}
  </script>
 </body>
</html>

In [6]:
chart = soup.find(id="block-qsr2020-content")
data_company = [dc.get_text() for dc in chart.select(".sortable-chart-container .data-chain")]
data_category = [dct.get_text() for dct in chart.select(".sortable-chart-container .data-segment")]
all_sales = [als.get_text() for als in chart.select(".sortable-chart-container .data-2012_sales")]
avg_sales = [avs.get_text() for avs in chart.select(".sortable-chart-container .data-2012_avg_sales")]
franchise_units = [fu.get_text() for fu in chart.select(".sortable-chart-container .data-2012_franchise_units")]
company_units = [cu.get_text() for cu in chart.select(".sortable-chart-container .data-2012_company_units")]
total_units = [tu.get_text() for tu in chart.select(".sortable-chart-container .data-2012_total_units")]

In [7]:
import pandas as pd
restaurants2012 = pd.DataFrame({
    "Company": data_company,
    "Category": data_category,
    "Systemwide_Sales_Millions": all_sales,
    "Avg_Sales_per_Unit_Thousands": avg_sales,
    "Franchise_Units": franchise_units,
    "Company_Units": company_units,
    "Total_Units": total_units
})

In [8]:
restaurants2012.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units
0,McDonald's,burger,"$35,600.0","$2,600.0","12,605","1,552","14,157"
1,Subway*,sandwich,"$12,100.0",$481.0,"25,549",0,"25,549"
2,Starbucks*<sup>1</sup>,snack,"$10,600.0","$1,223.0","4,262","6,866","11,128"
3,Wendy's<sup>2</sup>,burger,"$8,600.0","$1,483.8","4,528","1,289","5,817"
4,Burger King*,burger,"$8,587.0","$1,195.0","7,000",183,"7,183"

In [9]:
# transform data by setting the index
transformed_restaurants2012 = restaurants2012.copy()

In [10]:
transformed_restaurants2012["Company"].is_unique

True

In [11]:
transformed_restaurants2012.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units
0,McDonald's,burger,"$35,600.0","$2,600.0","12,605","1,552","14,157"
1,Subway*,sandwich,"$12,100.0",$481.0,"25,549",0,"25,549"
2,Starbucks*<sup>1</sup>,snack,"$10,600.0","$1,223.0","4,262","6,866","11,128"
3,Wendy's<sup>2</sup>,burger,"$8,600.0","$1,483.8","4,528","1,289","5,817"
4,Burger King*,burger,"$8,587.0","$1,195.0","7,000",183,"7,183"

In [12]:
transformed_restaurants2012 = transformed_restaurants2012.assign(id=(transformed_restaurants2012['Company']).astype('category').cat.codes)
# transformed_restaurants

In [13]:
transformed_restaurants2012.get_dtype_counts()

object    7
int8      1
dtype: int64

In [14]:
transformed_restaurants2012.loc["McDonald's" : , "Systemwide_Sales_Millions"]

Series([], Name: Systemwide_Sales_Millions, dtype: object)

In [15]:
extr = transformed_restaurants2012["Systemwide_Sales_Millions"]
type(extr) is tuple

False

In [16]:
transformed_restaurants2012["Company"] = transformed_restaurants2012["Company"].str.strip()
transformed_restaurants2012["Category"] = transformed_restaurants2012["Category"].str.strip()
transformed_restaurants2012["Systemwide_Sales_Millions"] = transformed_restaurants2012["Systemwide_Sales_Millions"].str.strip()
transformed_restaurants2012["Avg_Sales_per_Unit_Thousands"] = transformed_restaurants2012["Avg_Sales_per_Unit_Thousands"].str.strip()
transformed_restaurants2012["Franchise_Units"] = transformed_restaurants2012["Franchise_Units"].str.strip()
transformed_restaurants2012["Company_Units"] = transformed_restaurants2012["Company_Units"].str.strip()
transformed_restaurants2012["Total_Units"] = transformed_restaurants2012["Total_Units"].str.strip()
transformed_restaurants2012.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,burger,"$35,600.0","$2,600.0","12,605","1,552","14,157",29
1,Subway*,sandwich,"$12,100.0",$481.0,"25,549",0,"25,549",42
2,Starbucks*<sup>1</sup>,snack,"$10,600.0","$1,223.0","4,262","6,866","11,128",40
3,Wendy's<sup>2</sup>,burger,"$8,600.0","$1,483.8","4,528","1,289","5,817",45
4,Burger King*,burger,"$8,587.0","$1,195.0","7,000",183,"7,183",4

In [17]:
transformed_restaurants2012["Systemwide_Sales_Millions"] = transformed_restaurants2012["Systemwide_Sales_Millions"].str.replace('$','',regex=False)
transformed_restaurants2012["Systemwide_Sales_Millions"] = transformed_restaurants2012["Systemwide_Sales_Millions"].str.replace(',','',regex=False).astype(float)
transformed_restaurants2012["Avg_Sales_per_Unit_Thousands"] = transformed_restaurants2012["Avg_Sales_per_Unit_Thousands"].str.replace('$','',regex=False)
transformed_restaurants2012["Avg_Sales_per_Unit_Thousands"] = transformed_restaurants2012["Avg_Sales_per_Unit_Thousands"].str.replace(',','',regex=False).astype(float)
transformed_restaurants2012["Franchise_Units"] = transformed_restaurants2012["Franchise_Units"].str.replace(',','',regex=False).astype(float)
transformed_restaurants2012["Company_Units"] = transformed_restaurants2012["Company_Units"].str.replace(',','',regex=False).astype(float)
transformed_restaurants2012["Total_Units"] = transformed_restaurants2012["Total_Units"].str.replace(',','',regex=False).astype(float)
transformed_restaurants2012["Company"] = transformed_restaurants2012["Company"].str.replace('<sup>1</sup>','',regex=False)
transformed_restaurants2012["Company"] = transformed_restaurants2012["Company"].str.replace('<sup>2</sup>','',regex=False)
transformed_restaurants2012["Company"] = transformed_restaurants2012["Company"].str.replace('*','',regex=False)

In [18]:
transformed_restaurants2012.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,burger,35600.0,2600.0,12605.0,1552.0,14157.0,29
1,Subway,sandwich,12100.0,481.0,25549.0,0.0,25549.0,42
2,Starbucks,snack,10600.0,1223.0,4262.0,6866.0,11128.0,40
3,Wendy's,burger,8600.0,1483.8,4528.0,1289.0,5817.0,45
4,Burger King,burger,8587.0,1195.0,7000.0,183.0,7183.0,4

In [19]:
import sqlite3

In [20]:
conn = sqlite3.connect('restaurants2012.sqlite')
c = conn.cursor()

In [21]:
c.execute('CREATE TABLE rest_table (Company text, Category text, Systemwide_Sales_Millions number, Avg_Sales_per_Unit_Thousands number, Franchise_Units number, Company_Units number, Total_Units number, [id] number PRIMARY KEY)')
conn.commit()

In [22]:
transformed_restaurants2012.to_sql('rest_table', conn, if_exists='replace', index=False)

In [23]:
c.execute('''  
SELECT * FROM rest_table
          ''')

In [24]:
for row in c.fetchall():
    print (row)

("McDonald's", 'burger', 35600.0, 2600.0, 12605.0, 1552.0, 14157.0, 29)
('Subway', 'sandwich', 12100.0, 481.0, 25549.0, 0.0, 25549.0, 42)
('Starbucks', 'snack', 10600.0, 1223.0, 4262.0, 6866.0, 11128.0, 40)
("Wendy's", 'burger', 8600.0, 1483.8, 4528.0, 1289.0, 5817.0, 45)
('Burger King', 'burger', 8587.0, 1195.0, 7000.0, 183.0, 7183.0, 4)
('Taco Bell', 'mexican', 7478.0, 1363.0, 4218.0, 1044.0, 5262.0, 43)
("Dunkin' Donuts", 'snack', 6264.2, 857.4, 7278.0, 28.0, 7306.0, 16)
('Pizza Hut', 'pizza/pasta', 5666.0, 883.0, 5757.0, 452.0, 6209.0, 35)
('Chick-fil-A', 'chicken', 4621.1, 3157.9, 1391.0, 292.0, 1683.0, 8)
('KFC', 'chicken', 4459.0, 957.0, 4319.0, 237.0, 4556.0, 25)
('Panera Bread', 'sandwich', 3861.0, 2427.2, 843.0, 809.0, 1652.0, 32)
('Sonic Drive-In', 'burger', 3790.7, 1074.0, 3147.0, 409.0, 3556.0, 39)
("Domino's Pizza", 'pizza/pasta', 3500.0, 710.2, 4540.0, 388.0, 4928.0, 15)
('Jack in the Box', 'burger', 3084.9, 1379.0, 1703.0, 547.0, 2250.0, 21)
("Arby's", 'sandwich', 2992.0, 993.2, 2343.0, 1011.0, 3354.0, 0)
('Chipotle Mexican Grill', 'mexican', 2731.2, 2113.0, 0.0, 1410.0, 1410.0, 9)
("Papa John's", 'pizza/pasta', 2402.4, 829.0, 2483.0, 648.0, 3131.0, 33)
('Dairy Queen', 'burger', 2300.0, 545.0, 4459.0, 3.0, 4462.0, 13)
('Popeyes Louisiana Kitchen', 'chicken', 2253.0, 1242.0, 1634.0, 45.0, 1679.0, 36)
("Hardee's", 'burger', 1900.0, 1145.0, 1233.0, 470.0, 1703.0, 19)
('Panda Express', 'asian', 1797.4, 1237.0, 47.0, 1486.0, 1533.0, 31)
('Little Caesars', 'pizza/pasta', 1684.0, 465.0, 3175.0, 550.0, 3725.0, 27)
('Whataburger', 'burger', 1476.8, 1996.0, 119.0, 621.0, 740.0, 46)
("Carl's Jr.", 'burger', 1400.0, 1470.0, 697.0, 427.0, 1124.0, 6)
("Jimmy John's", 'sandwich', 1262.8, 878.8, 1534.0, 26.0, 1560.0, 24)
('Five Guys Burgers & Fries', 'burger', 1082.7, 1049.0, 850.0, 255.0, 1105.0, 18)
("Zaxby's", 'chicken', 979.3, 1765.7, 467.0, 98.0, 565.0, 49)
("Church's Chicken", 'chicken', 869.9, 706.5, 944.0, 258.0, 1202.0, 10)
("Bojangles'", 'chicken', 864.5, 1717.5, 325.0, 211.0, 536.0, 2)
("Steak 'n Shake", 'burger', 857.5, 1700.0, 87.0, 414.0, 501.0, 41)
("Culver's", 'burger', 838.8, 1837.5, 463.0, 9.0, 472.0, 12)
('Quiznos', 'sandwich', 838.0, 345.0, 2349.0, 4.0, 2353.0, 38)
("Papa Murphy's", 'pizza/pasta', 738.0, 574.9, 1270.0, 59.0, 1329.0, 34)
("Long John Silver's", 'seafood', 723.0, 794.0, 911.0, 0.0, 911.0, 28)
("Checkers/Rally's", 'burger', 696.9, 903.4, 455.0, 321.0, 776.0, 7)
('White Castle', 'burger', 618.5, 1284.2, 0.0, 406.0, 406.0, 47)
('Del Taco', 'mexican', 607.9, 1100.0, 253.0, 298.0, 551.0, 14)
('Qdoba Mexican Grill', 'mexican', 583.2, 966.0, 311.0, 316.0, 627.0, 37)
("Jason's Deli", 'sandwich', 578.9, 2556.4, 101.0, 144.0, 245.0, 23)
('Krispy Kreme', 'snack', 569.4, 2428.0, 142.0, 97.0, 239.0, 26)
('El Pollo Loco', 'chicken', 563.0, 1475.0, 232.0, 165.0, 397.0, 17)
('Boston Market', 'chicken', 559.0, 1184.0, 0.0, 469.0, 469.0, 3)
('Tim Hortons', 'snack', 532.2, 1095.0, 800.0, 4.0, 804.0, 44)
('In-N-Out Burger', 'burger', 528.0, 1935.0, 0.0, 280.0, 280.0, 20)
('Baskin-Robbins', 'snack', 510.0, 207.1, 2456.0, 7.0, 2463.0, 1)
("CiCi's Pizza", 'pizza/pasta', 505.0, 915.0, 540.0, 10.0, 550.0, 11)
("Captain D's", 'seafood', 467.1, 903.0, 239.0, 278.0, 517.0, 5)
("Moe's Southwest Grill", 'mexican', 452.0, 1102.5, 478.0, 4.0, 482.0, 30)
('Wingstop', 'chicken', 450.9, 902.0, 510.0, 23.0, 533.0, 48)
('Jamba Juice', 'snack', 450.0, 714.7, 473.0, 301.0, 774.0, 22)

In [25]:
transformed_restaurants2012.head()

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,burger,35600.0,2600.0,12605.0,1552.0,14157.0,29
1,Subway,sandwich,12100.0,481.0,25549.0,0.0,25549.0,42
2,Starbucks,snack,10600.0,1223.0,4262.0,6866.0,11128.0,40
3,Wendy's,burger,8600.0,1483.8,4528.0,1289.0,5817.0,45
4,Burger King,burger,8587.0,1195.0,7000.0,183.0,7183.0,4

In [26]:
# Creating dataframe that shows only Burger Category 
burgers = transformed_restaurants2012.loc[transformed_restaurants2012["Category"]=="burger",]
top_burgers = burgers.iloc[:3]
top_burgers

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,burger,35600.0,2600.0,12605.0,1552.0,14157.0,29
3,Wendy's,burger,8600.0,1483.8,4528.0,1289.0,5817.0,45
4,Burger King,burger,8587.0,1195.0,7000.0,183.0,7183.0,4

In [27]:
# Creating dataframe that shows only Chicken Category 
chicken = transformed_restaurants2012.loc[transformed_restaurants2012["Category"]=="chicken",]
top_chicken = chicken.iloc[:3]
top_chicken

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
8,Chick-fil-A,chicken,4621.1,3157.9,1391.0,292.0,1683.0,8
9,KFC,chicken,4459.0,957.0,4319.0,237.0,4556.0,25
18,Popeyes Louisiana Kitchen,chicken,2253.0,1242.0,1634.0,45.0,1679.0,36

In [28]:
# Creating dataframe that shows only Sandwich Category 
Sandwich = transformed_restaurants2012.loc[transformed_restaurants2012["Category"]=="sandwich",]
top_Sandwich = Sandwich.iloc[:3]
top_Sandwich

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
1,Subway,sandwich,12100.0,481.0,25549.0,0.0,25549.0,42
10,Panera Bread,sandwich,3861.0,2427.2,843.0,809.0,1652.0,32
14,Arby's,sandwich,2992.0,993.2,2343.0,1011.0,3354.0,0

In [29]:
# Creating dataframe that shows only Pizza Category 
Pizza = transformed_restaurants2012.loc[transformed_restaurants2012["Category"]=="pizza/pasta",]
top_Pizza = Pizza.iloc[:3]
top_Pizza

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
7,Pizza Hut,pizza/pasta,5666.0,883.0,5757.0,452.0,6209.0,35
12,Domino's Pizza,pizza/pasta,3500.0,710.2,4540.0,388.0,4928.0,15
16,Papa John's,pizza/pasta,2402.4,829.0,2483.0,648.0,3131.0,33

In [30]:
# Creating dataframe that shows only Snack Category 
Snack = transformed_restaurants2012.loc[transformed_restaurants2012["Category"]=="snack",]
top_Snack = Snack.iloc[:3]
top_Snack

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
2,Starbucks,snack,10600.0,1223.0,4262.0,6866.0,11128.0,40
6,Dunkin' Donuts,snack,6264.2,857.4,7278.0,28.0,7306.0,16
39,Krispy Kreme,snack,569.4,2428.0,142.0,97.0,239.0,26

In [31]:
total_by_category = transformed_restaurants2012.groupby(["Category"])[["Systemwide_Sales_Millions"]].sum()
total_by_category = total_by_category.reset_index()
total_by_category

      Category  Systemwide_Sales_Millions
0        asian                     1797.4
1       burger                    71361.8
2      chicken                    15619.7
3      mexican                    11852.3
4  pizza/pasta                    14495.4
5     sandwich                    21632.7
6      seafood                     1190.1
7        snack                    18925.8

In [32]:
merged_top_df = pd.concat([top_burgers, top_chicken, top_Sandwich, top_Pizza, top_Snack])
merged_top_df

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,burger,35600.0,2600.0,12605.0,1552.0,14157.0,29
3,Wendy's,burger,8600.0,1483.8,4528.0,1289.0,5817.0,45
4,Burger King,burger,8587.0,1195.0,7000.0,183.0,7183.0,4
8,Chick-fil-A,chicken,4621.1,3157.9,1391.0,292.0,1683.0,8
9,KFC,chicken,4459.0,957.0,4319.0,237.0,4556.0,25
18,Popeyes Louisiana Kitchen,chicken,2253.0,1242.0,1634.0,45.0,1679.0,36
1,Subway,sandwich,12100.0,481.0,25549.0,0.0,25549.0,42
10,Panera Bread,sandwich,3861.0,2427.2,843.0,809.0,1652.0,32
14,Arby's,sandwich,2992.0,993.2,2343.0,1011.0,3354.0,0
7,Pizza Hut,pizza/pasta,5666.0,883.0,5757.0,452.0,6209.0,35
12,Domino's Pizza,pizza/pasta,3500.0,710.2,4540.0,388.0,4928.0,15
16,Papa John's,pizza/pasta,2402.4,829.0,2483.0,648.0,3131.0,33
2,Starbucks,snack,10600.0,1223.0,4262.0,6866.0,11128.0,40
6,Dunkin' Donuts,snack,6264.2,857.4,7278.0,28.0,7306.0,16
39,Krispy Kreme,snack,569.4,2428.0,142.0,97.0,239.0,26

In [33]:
# Selecting the top company for each category
top_rest_per_category = merged_top_df.loc[(merged_top_df["Company"] == "McDonald's") | (merged_top_df["Company"] == "Chick-fil-A") | (merged_top_df["Company"] == "Subway*") | (merged_top_df["Company"] == "Pizza Hut") | (merged_top_df["Company"] == "Taco Bell") | (merged_top_df["Company"] == "Starbucks*<sup>1</sup>")]
top_rest_per_category

,Company,Category,Systemwide_Sales_Millions,Avg_Sales_per_Unit_Thousands,Franchise_Units,Company_Units,Total_Units,id
0,McDonald's,burger,35600.0,2600.0,12605.0,1552.0,14157.0,29
8,Chick-fil-A,chicken,4621.1,3157.9,1391.0,292.0,1683.0,8
7,Pizza Hut,pizza/pasta,5666.0,883.0,5757.0,452.0,6209.0,35

In [34]:
c.execute('''CREATE TABLE top_rest ([Company] text, [Category] text, [Systemwide_Sales_Millions] number, [Avg_Sales_per_Unit_Thousands] number, [Franchise_Units] number, [Company_Units] number, [Total_Units] number, [id] INTEGER PRIMARY KEY)''')
conn.commit()

In [35]:
merged_top_df.to_sql('top_rest', conn, if_exists='replace', index=False)

In [36]:
c.execute('''  
SELECT * FROM top_rest
          ''')

In [37]:
for row in c.fetchall():
    print (row)

("McDonald's", 'burger', 35600.0, 2600.0, 12605.0, 1552.0, 14157.0, 29)
("Wendy's", 'burger', 8600.0, 1483.8, 4528.0, 1289.0, 5817.0, 45)
('Burger King', 'burger', 8587.0, 1195.0, 7000.0, 183.0, 7183.0, 4)
('Chick-fil-A', 'chicken', 4621.1, 3157.9, 1391.0, 292.0, 1683.0, 8)
('KFC', 'chicken', 4459.0, 957.0, 4319.0, 237.0, 4556.0, 25)
('Popeyes Louisiana Kitchen', 'chicken', 2253.0, 1242.0, 1634.0, 45.0, 1679.0, 36)
('Subway', 'sandwich', 12100.0, 481.0, 25549.0, 0.0, 25549.0, 42)
('Panera Bread', 'sandwich', 3861.0, 2427.2, 843.0, 809.0, 1652.0, 32)
("Arby's", 'sandwich', 2992.0, 993.2, 2343.0, 1011.0, 3354.0, 0)
('Pizza Hut', 'pizza/pasta', 5666.0, 883.0, 5757.0, 452.0, 6209.0, 35)
("Domino's Pizza", 'pizza/pasta', 3500.0, 710.2, 4540.0, 388.0, 4928.0, 15)
("Papa John's", 'pizza/pasta', 2402.4, 829.0, 2483.0, 648.0, 3131.0, 33)
('Starbucks', 'snack', 10600.0, 1223.0, 4262.0, 6866.0, 11128.0, 40)
("Dunkin' Donuts", 'snack', 6264.2, 857.4, 7278.0, 28.0, 7306.0, 16)
('Krispy Kreme', 'snack', 569.4, 2428.0, 142.0, 97.0, 239.0, 26)

In [38]:
c.execute('CREATE TABLE total_by_category (Company text, Category text, Systemwide_Sales_Millions number, Avg_Sales_per_Unit_Thousands number, Franchise_Units number, Company_Units number, Total_Units number, [id] number PRIMARY KEY)')
conn.commit()

In [39]:
total_by_category.to_sql('total_by_category', conn, if_exists='replace', index=False)

In [40]:
c.execute('''  
SELECT * FROM total_by_category
          ''')

In [41]:
for row in c.fetchall():
    print (row)

('asian', 1797.4)
('burger', 71361.79999999999)
('chicken', 15619.699999999999)
('mexican', 11852.300000000001)
('pizza/pasta', 14495.4)
('sandwich', 21632.7)
('seafood', 1190.1)
('snack', 18925.800000000003)

In [42]:
c.execute('CREATE TABLE top_rest_per_category (Company text, Category text, Systemwide_Sales_Millions number, Avg_Sales_per_Unit_Thousands number, Franchise_Units number, Company_Units number, Total_Units number, [id] number PRIMARY KEY)')
conn.commit()

In [43]:
top_rest_per_category.to_sql('top_rest_per_category', conn, if_exists='replace', index=False)

In [44]:
c.execute('''  
SELECT * FROM top_rest_per_category
          ''')

In [45]:
for row in c.fetchall():
    print (row)

("McDonald's", 'burger', 35600.0, 2600.0, 12605.0, 1552.0, 14157.0, 29)
('Chick-fil-A', 'chicken', 4621.1, 3157.9, 1391.0, 292.0, 1683.0, 8)
('Pizza Hut', 'pizza/pasta', 5666.0, 883.0, 5757.0, 452.0, 6209.0, 35)